Server/flowsNodeRED.json
[
    {
        "id": "3c3849b48cd46b16",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c78a3f31042598d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a3057dc0d9e2d1e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1ea0fa1984e2d5e2",
        "type": "ui_group",
        "name": "Robot1",
        "tab": "3c78a3f31042598d",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "529c290ae4aba11f",
        "type": "ui_group",
        "name": "Robot2",
        "tab": "3c78a3f31042598d",
        "order": 2,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ef87c420696bacf",
        "type": "ui_group",
        "name": "Robot3",
        "tab": "3c78a3f31042598d",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d94184db45b29514",
        "type": "udp in",
        "z": "3c3849b48cd46b16",
        "name": "",
        "iface": "",
        "port": "4455",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "64c30cb1d86f4246"
            ]
        ]
    },
    {
        "id": "64c30cb1d86f4246",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b91e4e571af7d5b",
        "type": "udp in",
        "z": "3c3849b48cd46b16",
        "name": "",
        "iface": "",
        "port": "5001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "507da75dcb13d3df"
            ]
        ]
    },
    {
        "id": "507da75dcb13d3df",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "d17fe7207e90aca4",
        "type": "udp in",
        "z": "3c3849b48cd46b16",
        "name": "",
        "iface": "",
        "port": "5002",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "7409930157b928e6"
            ]
        ]
    },
    {
        "id": "7409930157b928e6",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "e016451921d2f067",
        "type": "udp in",
        "z": "3c3849b48cd46b16",
        "name": "",
        "iface": "",
        "port": "5003",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "8d4e76d25e9e566e"
            ]
        ]
    },
    {
        "id": "8d4e76d25e9e566e",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "9a2ad178bdf23457",
        "type": "udp out",
        "z": "3c3849b48cd46b16",
        "name": "",
        "addr": "10.3.141.102",
        "iface": "",
        "port": "4455",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "ec58b8fa7712fd8f",
        "type": "json",
        "z": "3c3849b48cd46b16",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "a56445db22c2738f",
                "cdfbc3e2d998443f",
                "ad5960b21bea973a",
                "30e18aae767c697f",
                "53080fef935ed3f4",
                "f3b7586319aa8994",
                "65d366e4498ab5df",
                "3eb4618c5347df65",
                "6adef999c5762d86"
            ]
        ]
    },
    {
        "id": "fc2206a2cdb1d109",
        "type": "udp in",
        "z": "3c3849b48cd46b16",
        "name": "",
        "iface": "",
        "port": "4455",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "802b7444a28c0848"
            ]
        ]
    },
    {
        "id": "a56445db22c2738f",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug VD",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.VD",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 940,
        "wires": []
    },
    {
        "id": "cdfbc3e2d998443f",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug VG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.VG",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "aed1cc61f5f0f60a",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "1ea0fa1984e2d5e2",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Vitesse",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ad5960b21bea973a",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "30e18aae767c697f",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Droite",
        "func": "\nmsg.payload = msg.payload.VD\nmsg.topic = 'VD';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "aed1cc61f5f0f60a"
            ]
        ]
    },
    {
        "id": "53080fef935ed3f4",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Gauche",
        "func": "msg.payload = msg.payload.VG\nmsg.topic = 'VG';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 680,
        "wires": [
            [
                "aed1cc61f5f0f60a"
            ]
        ]
    },
    {
        "id": "05b8af3040529e98",
        "type": "inject",
        "z": "3c3849b48cd46b16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "aed1cc61f5f0f60a",
                "b2d5a2ac954806c7",
                "a986d2fd4243f89b"
            ]
        ]
    },
    {
        "id": "f3b7586319aa8994",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug Distance",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Distance",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 980,
        "wires": []
    },
    {
        "id": "b2d5a2ac954806c7",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "1ea0fa1984e2d5e2",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65d366e4498ab5df",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Distance",
        "func": "msg.payload = msg.payload.Distance\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "b2d5a2ac954806c7"
            ]
        ]
    },
    {
        "id": "e65317c195fb37eb",
        "type": "inject",
        "z": "3c3849b48cd46b16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Avance",
        "payloadType": "str",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "a41b588b9d1b0950"
            ]
        ]
    },
    {
        "id": "a41b588b9d1b0950",
        "type": "udp out",
        "z": "3c3849b48cd46b16",
        "name": "",
        "addr": "10.3.141.102",
        "iface": "",
        "port": "4455",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "2188e5089a760c2b",
        "type": "ui_button",
        "z": "3c3849b48cd46b16",
        "d": true,
        "name": "",
        "group": "529c290ae4aba11f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "9a2ad178bdf23457"
            ]
        ]
    },
    {
        "id": "3eb4618c5347df65",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Z",
        "func": "msg.payload = msg.payload.z\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 800,
        "wires": [
            [
                "a986d2fd4243f89b"
            ]
        ]
    },
    {
        "id": "a986d2fd4243f89b",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "1ea0fa1984e2d5e2",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Gyro",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6adef999c5762d86",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug Z",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.z",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1020,
        "wires": []
    },
    {
        "id": "802b7444a28c0848",
        "type": "switch",
        "z": "3c3849b48cd46b16",
        "name": "",
        "property": "ip",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10.3.141.101",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10.3.141.102",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10.3.141.103",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "ec58b8fa7712fd8f"
            ],
            [
                "04e6bf63ff3df06f"
            ],
            [
                "1245ac78087e45c3"
            ]
        ]
    },
    {
        "id": "04e6bf63ff3df06f",
        "type": "json",
        "z": "3c3849b48cd46b16",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "d6e003e35d08dba8",
                "a3bef54713b48a19",
                "5f20c0353fa7b92a",
                "d4ab18943793a212"
            ]
        ]
    },
    {
        "id": "6b9082589299b33d",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "529c290ae4aba11f",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Vitesse",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e003e35d08dba8",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Droite",
        "func": "\nmsg.payload = msg.payload.VD\nmsg.topic = 'VD';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1100,
        "wires": [
            [
                "6b9082589299b33d"
            ]
        ]
    },
    {
        "id": "a3bef54713b48a19",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Gauche",
        "func": "msg.payload = msg.payload.VG\nmsg.topic = 'VG';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1140,
        "wires": [
            [
                "6b9082589299b33d"
            ]
        ]
    },
    {
        "id": "57bddec6d241a962",
        "type": "inject",
        "z": "3c3849b48cd46b16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 650,
        "y": 1180,
        "wires": [
            [
                "6b9082589299b33d",
                "a7c25937a2e51d54",
                "c6809ce3d86fdb6b"
            ]
        ]
    },
    {
        "id": "a7c25937a2e51d54",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "529c290ae4aba11f",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "5f20c0353fa7b92a",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Distance",
        "func": "msg.payload = msg.payload.Distance\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1220,
        "wires": [
            [
                "a7c25937a2e51d54"
            ]
        ]
    },
    {
        "id": "d4ab18943793a212",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Z",
        "func": "msg.payload = msg.payload.z\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "c6809ce3d86fdb6b"
            ]
        ]
    },
    {
        "id": "c6809ce3d86fdb6b",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "529c290ae4aba11f",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Gyro",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b85e4d6c8ab4dce8",
        "type": "rpi-keyboard",
        "z": "3c3849b48cd46b16",
        "name": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "b22cc78cc58ddf4f",
                "db25f48e6b1e80fd"
            ]
        ]
    },
    {
        "id": "b22cc78cc58ddf4f",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug Z",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "db25f48e6b1e80fd",
        "type": "switch",
        "z": "3c3849b48cd46b16",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "31",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "32",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "81e39b4dffc852d9"
            ],
            [
                "4118721233019627"
            ],
            [
                "d97ec316cc7e31c0"
            ],
            [
                "64be5f1be0ee29f2"
            ],
            [
                "cfa4253e9fb621c0"
            ]
        ]
    },
    {
        "id": "81e39b4dffc852d9",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "Avance",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "70",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 200,
        "wires": [
            [
                "e1fa65bbf48f2d29",
                "8f15e88c38a76698"
            ]
        ]
    },
    {
        "id": "8f15e88c38a76698",
        "type": "udp out",
        "z": "3c3849b48cd46b16",
        "name": "",
        "addr": "10.3.141.101",
        "iface": "",
        "port": "4455",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1370,
        "y": 260,
        "wires": []
    },
    {
        "id": "4118721233019627",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "Stop",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 260,
        "wires": [
            [
                "8f15e88c38a76698"
            ]
        ]
    },
    {
        "id": "d97ec316cc7e31c0",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "TourneDroite",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "60",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "8f15e88c38a76698"
            ]
        ]
    },
    {
        "id": "e1fa65bbf48f2d29",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug Z",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "5f91ed83de809591",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "140",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-120",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 520,
        "wires": [
            [
                "db25f48e6b1e80fd",
                "7d55cbab594c98d1"
            ]
        ]
    },
    {
        "id": "cfa4253e9fb621c0",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "None",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "140",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "8f15e88c38a76698"
            ]
        ]
    },
    {
        "id": "7d55cbab594c98d1",
        "type": "debug",
        "z": "3c3849b48cd46b16",
        "name": "debug Z",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "6847cf1e6d3eaa94",
        "type": "inject",
        "z": "3c3849b48cd46b16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Avance",
        "payloadType": "str",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "5f91ed83de809591"
            ]
        ]
    },
    {
        "id": "64be5f1be0ee29f2",
        "type": "trigger",
        "z": "3c3849b48cd46b16",
        "name": "",
        "op1": "TourneGauche",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "60",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "8f15e88c38a76698"
            ]
        ]
    },
    {
        "id": "1245ac78087e45c3",
        "type": "json",
        "z": "3c3849b48cd46b16",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "f1459639d65f77d9",
                "6401be86a332e9dc",
                "66ca38bf0ed288eb",
                "c8f1b3082c462479"
            ]
        ]
    },
    {
        "id": "32924d7b063c7433",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "9ef87c420696bacf",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Vitesse",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f1459639d65f77d9",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Droite",
        "func": "\nmsg.payload = msg.payload.VD\nmsg.topic = 'VD';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 940,
        "wires": [
            [
                "32924d7b063c7433"
            ]
        ]
    },
    {
        "id": "6401be86a332e9dc",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Vitesse Gauche",
        "func": "msg.payload = msg.payload.VG\nmsg.topic = 'VG';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "32924d7b063c7433"
            ]
        ]
    },
    {
        "id": "3b633d2cf92c9c1f",
        "type": "inject",
        "z": "3c3849b48cd46b16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1010,
        "y": 1020,
        "wires": [
            [
                "32924d7b063c7433",
                "e8860dcf3a04be95",
                "c9b5a1d97fb2c76f"
            ]
        ]
    },
    {
        "id": "e8860dcf3a04be95",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "9ef87c420696bacf",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1300,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "66ca38bf0ed288eb",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Distance",
        "func": "msg.payload = msg.payload.Distance\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1060,
        "wires": [
            [
                "e8860dcf3a04be95"
            ]
        ]
    },
    {
        "id": "c8f1b3082c462479",
        "type": "function",
        "z": "3c3849b48cd46b16",
        "name": "Z",
        "func": "msg.payload = msg.payload.z\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1100,
        "wires": [
            [
                "c9b5a1d97fb2c76f"
            ]
        ]
    },
    {
        "id": "c9b5a1d97fb2c76f",
        "type": "ui_chart",
        "z": "3c3849b48cd46b16",
        "name": "",
        "group": "9ef87c420696bacf",
        "order": 0,
        "width": "20",
        "height": "8",
        "label": "Graph Gyro",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e1143d",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#897c92"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 1080,
        "wires": [
            []
        ]
    }
]